{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block body_block %}
<div class="col-md-6 col-sm-12 col-xs-12">
    {% if validlink %}
    <div class="alert alert-info">
    <p>{% trans "Enter your new password below to reset your password:" %}</p>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- <input type="submit" value="{% trans 'Set password' %}" /> -->
        <button class="btn btn-primary" type="submit" name="submit">Set Password</button>
    </form>
</div>
{% else %}
Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}

{% endblock %}