{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-success">
        <h4> REGISTRATION COMPLETE </h4>
        <p> You are now a proud member of Limau Nipis family!! </p>
        <p> <b>But wait, before you can proceed to login into your account please check your email first and ACTIVATE your account!</b></p>
        <p> Activation email should already been sent to you but in case it is not there please notify us!</p>
    </div>
</div>
{% endblock %}