body {
  min-height: 1000px;
  padding-top: 70px;
}

@media (max-width: 768px) {
  body { padding-top: 50px; }
}

.test {
	border-style : solid black;
}

.navbar-brand {
  font-weight : bold !important;
  font-size : 150%!important;
  color: yellowgreen !important;
  font-family: 'Spectral SC' , serif;

}
