
{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1 id="hof_header">Hall Of Fame</h1></br>
    <div class="row col-md-12">    
    {% for chef in topusers %}
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="hof_desktop">
            <a href="{% url 'limau:user_profile' username=chef.username %}">
                <img src="{{ chef.userprofile.picture.url }}" class="img img-responsive img-circle hof_image">
            </a>    
            <div class="hof_info">
                <h3 style="text-align: center;"><a class="hof_username" href="{% url 'limau:user_profile' username=chef.username %}">{{ chef.username }}</a></h3>
                <p style="text-align: center;"> Total Post Count : {{ chef.postCount }}</p>
                <p style="text-align: center;">{{ chef.userprofile.description }}</p>               
            </div>    
        </div>
    </div>
    
    <div class="hidden-lg hidden-md col-sm-6 col-xs-12">
        <div class="hof_mobile col-sm-12 col-xs-12">
            <div class="col-sm-4 col-xs-4">
                <a href="{% url 'limau:user_profile' username=chef.username %}">
                    <img src="{{ chef.userprofile.picture.url }}" class=" img img-responsive img-circle hof_image">
                </a>
            </div>
            <div class="col-sm-8 col-xs-8 hof_info">
                <h4><a class="hof_username" href="{% url 'limau:user_profile' username=chef.username %}">{{ chef.username }}</a></h4>
                <p> Total Post Count : {{ chef.postCount }}</p>
                <p>{{ chef.userprofile.description }}</p>
            </div>
            <div class="col-xs-12">
                <hr class="style-two" style="margin-top:0px">
            </div>
        </div>       
    </div>
    {% endfor %}
    </div>


{% include page_template %}

{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}


{% endblock %}