{% load el_pagination_tags %}
{% paginate articles %}

{% for item in articles %}

    <div class="row contentgroup">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="article_picture">
                <img src="{{ item.thumbnail.url }}" class="img-rounded" style="width:100%">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="content_text">
                <h4><a href="{% url 'limau:article_single' slug=item.slug  %}">{{ item.title_bm }}</a></h4>
                <p>Post date : {{ item.created_date }} </p>
                <content>{{ item.text_bm | truncatechars:200 | safe }}</content></br>
                <a href="{% url 'limau:article_single' slug=item.slug %}" class="btn btn-success" role="button">Read More</a>
            </div>
        </div>
    </div><hr class="style17">


{% endfor %}

{% show_more %}