{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% load class_tag %}

{% block body_block %}

{% include page_template %}

{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
    <script>
        $.endlessPaginate({
            onCompleted: function(){
                $(document).ready(function(){
	                $('.stars').stars();
                });
            };
        });

    </script>
{% endblock %}


{% endblock %}
