{% extends 'mainsite/base_shop.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row contentgroup">
    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Product Category
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                    <li><a href="{% url 'limau:shop_index' %}"><b>ALL ITEMS</b></a></li>
                {% for cat in category %}
                    <li><a href="{% url 'limau:shop_category' slug=cat.slug %}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>  
    </div>
</div>


<div class="row">
    
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <ul class="bxslider">
            <li><img src="{{ product.image_1.url }}" alt=""></li>
            <li><img src="{{ product.image_2.url }}" alt=""></li>
            <li><img src="{{ product.image_3.url }}" alt=""></li>
            <li><img src="{{ product.image_4.url }}" alt=""></li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <h3 class="spectral-gold" style="margin-top:0px;">{{ product.name }}</h3>
        {% if product.discount_switch %}
            <h3>RM<strike>{{ product.original_price }}</strike> <b>{{product.discounted_price}}</b></h3>
            <h4>{{ product.discount | stringformat:'d' }}% DISCOUNT!!</h4>
        {% else %}
            <h3>RM{{ product.original_price }}</h3>
        {% endif %}
        <a href="#" class="btn btn-success" role="button">BUY</a>
        <hr class="style-two">
        <p>{{ product.definition }}</p>
    </div>
    {% if product.optional_definition_switch %}
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        {{ product.optional_definition | safe }}
    </div>
    {% endif %}
</div>

<div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4>MORE PRODUCTS</h4>
        </div>
        {% for product in related_products %}
        {% if product.in_stock %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <a href="{% url 'limau:product_single' slug=product.slug pk=product.pk %}">
                        <img src="{{ product.image_1.url }}" alt="{{ product.name }}">
                        {% if product.discount_switch %}
                        <div class="caption">
                            <p>{{ product.name | truncatechars:20 }}</p>
                            <p>RM<strike>{{ product.original_price }}</strike> <b>{{product.discounted_price}}</b></p>
                        </div>
                        {% else %}
                        <div class="caption">
                            <p>{{ product.name |truncatechars:20 }}</p>
                            <p>RM{{ product.original_price }}</p>
                        </div>
                        {% endif %}
                        
                        {% if product.discount_switch %}
                        <div class="caption product-content">
                            <h4><b>{{ product.discount | stringformat:'d' }} OFF%!</b></h4>
                        </div>
                        {% endif%}
                    </a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    

</div>

{% endblock %}