{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="row contentgroup">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>{{ recipe.name_bm }}</h2>
    </div>
</div>

<div class="row contentgroup">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="youtube">
            <iframe width="854" height="480" src="{{ recipe.youtube_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4> Bahan Bahan </h4>
        <div class="list-group">
            {% for ingredient in recipe.ingredients.all %}
            <a href="#" class="list-group-item">{{ ingredient.name_bm }}</a>
            {% endfor %}        
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="recipe_description">
            {{ recipe.description | safe }}
        </div>
    </div>

</div>
{% endblock %}