{% load el_pagination_tags %}
{% paginate restaurants %}

{% for item in restaurants %}

    <div class="row contentgroup">
        <div class="col-md-12 col-sm-12 col-xs-12 restaurant_title">
            <h4><a href="{% url 'limau:restaurant_single' slug=item.slug %}">Limau Review : {{ item.name_bm }} </a></h4>
            <p> Post date : {{ item.created_date }}</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="restaurant_pic">
                <img src="{{ item.building_thumbnail.url }}" class="img-rounded" style="width:100%">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="restaurant_pic">
                <img src="{{ item.food_thumbnail_1.url }}" class="img-rounded" style="width:100%">
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="criteria">
                <span class="limau_meter">Limau <i class="fa fa-tachometer" aria-hidden="true"></i> : </span>
                <span class="stars">{{ item.starhtml | safe }}</span>
            </div>
            <div class="restaurant_text">
                <content>{{ item.description | truncatechars:100 | safe }}</content></br>
                <location class="address"> ADDRESS: {{ item.address }}</location><br>
                <a href="{% url 'limau:restaurant_single' slug=item.slug %}" class="btn btn-success" role="button">Read More</a>
            </div>
        </div>
    </div><hr class="style17">

{% endfor %}

{% show_more %}