{% if social_logo %}

<div class="row social_media_desktop ">
    <div class="col-md-4 col-md-offset-2">
            <a href="{{ social_logo.2.image_url }}"><img src="{{ social_logo.2.image.url }}" class="img img-responsive"></a>
    </div>
    <div class="col-md-4">
            <a href="{{ social_logo.1.image_url }}"><img src="{{ social_logo.1.image.url }}" class="img img-responsive"></br></a>
    </div>
    <div class="col-md-12 social_media_text">
        <p style="text-align:center;">OUR SOCIAL MEDIA</p>
    </div>
</div>

{% else %}
Please upload logo in MobileBanner

{% endif %}