{% load el_pagination_tags %}
{% paginate recipes %}

{% for item in recipes %}

<div class="row contentgroup">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="article_picture">
            <img src="{{ item.picture_1.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="content_text">
            <h4><a href="{% url 'limau:user_recipe_single' slug=item.slug  %}">{{ item.name_bm }}</a></h4>
            <content class="hidden-xs">{{ item.description | truncatechars:300 | safe }}</content>
        </div>
    </div>
</div><hr class="style17">


{% endfor %}

{% show_more %}