{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{% block body_block %}
<h3>{{ userlimau.username }}</h3></br>

<img src="{{ userlimau.userprofile.picture.url }}" ></br>
{{ userlimau.userprofile.description }}</br>

{% if request.user == userlimau %}
<a class="btn btn-default" href="{% url 'limau:user_profile_form'  %}" ><span class="glyphicon glyphicon-pencil"> EDIT </span></a>
{% endif %}</br>


<h4>User Posted Recipe</h4>
{% for recipe in userlimau.userrecipe_set.all %}
    {{ recipe.name_bm }}</br>
{% endfor %}

{% endblock %}

