{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row contentgroup">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>{{ user_recipe.name_bm }}</h3>
        <p>{{ user_recipe.content | safe }}</p>
        {% if request.user == user_recipe.user %}
        <a class="btn btn-default" href="{% url 'limau:user_recipe_edit' pk=user_recipe.pk %}" ><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
</div>



{% endblock %}